html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'font', sans-serif;
}

h1,
h2,
h3 {
  margin-top: 0;
  padding-top: 30px;
}

.main-cover {
  min-width: 500px;
  height: 300px;
  background-color: #5f5218;
  overflow: hidden;
  position: relative;

}

.main-cover__heading {
  bottom: 20px;
  left: 230px;
  font-family: monospace;
  font-size: 60px;
  color: rgb(0, 0, 0);
}

.main-cover__img {
  height: 200px;
  /* filter: blur(4px); */
  background: url('/personal_site/img/1677875324_klau-club-p-pole-s-tsvetami-estetika-krasivo-75.jpg') center center / cover ;
}

.content {
  min-width: 300px;
  max-width: 1170px;
  margin: 0 auto;
}

.block {
  font-size: 0;
}

.card {
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  padding: 15px;
  width: 350px;
  min-height: 100px;
  background-color: #f0f0f0;
  margin-bottom: 15px;
}

.card:not(:nth-child(3n)) {
  margin-right: 15px;
}

.product {
  position: relative;
  border: 1px solid #0000000f;
  padding: 15px;
  width: 250px;
  border-radius: 8px;
}

.product img {
  max-width: 100%;
  height: 250px;
}

.product-image {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.product-title {
  margin: 0;
  margin-bottom: 20px;
}

.product-price {
  font-weight: 700;
  color: gray;
}

.product-add {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  display: inline-block;
  background-color: lime;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
}

.user-summary__desc {
  position: relative;
  display: inline-block;
  z-index: 1;
  line-height: 1em;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  left: 45px;
}

.user-summary__avatar {
  position: absolute;
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}

.user-summary__about {
  margin-top: 3px;
  color: gray;
}

.header-main {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
  background-color: white;
  /* background: linear-gradient(rgb(197,196,194) 10%, rgb(197 196 194 / 0)); */
}

.header-test {
  background-color: #f0f0f0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.menu {
  flex-grow: 1;
}

.menu ul {
  display: flex;
  flex-flow: row nowrap;
  margin: 2px 0 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
}

.menu li {
  margin-right: 10px;
  margin-left: 10px;
}

.menu a,
.menu {
  display: block;
  padding: 8px 10px;
  text-transform: uppercase;
  letter-spacing: .27em;
}

.menu a {
  color: #000;
  text-decoration: none;
}

.menu-test {
  flex-grow: 1;
}

.menu-test ul {
  display: flex;
  flex-flow: row nowrap;
  margin: 2px 0 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
}

.menu-test li {
  margin-right: 10px;
  margin-left: 10px;
}

.menu-test a,
.menu-test {
  display: block;
  padding: 8px 10px;
  text-transform: uppercase;
  letter-spacing: .27em;
}

.menu-test a {
  color: #000;
  text-decoration: none;
}

.article-card {
  width: 400px;
  height: 350px;
  background-color: #f8f8f8;
  border-radius: 20px;
  overflow: hidden;
}

.article-card__image {
  height: 55%;
  object-fit: cover;
}

.contact-form__substrate {
  background-color: blue;
  min-width: 150px;
  min-height: 500px;
  display: flex;
  align-items: center;
}

.contact-form {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 40px;
  background-color: blue;
  min-width: 150px;
  min-height: 370px;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0px 0px 20px 5px #282e61;
  font-family: comfortaa;
}

.contact-form p {
  margin: 0;
}

.contact-form__cover {
  min-width: 300px;
  padding: 20px;
}

.contact-form__cover p {
  width: 300px;
  color: white;
}

.contact-form__cover-main-text {
  font-size: 50px;
}

.contact-form__cover-text {
  font-size: 16px;
}

.contact-form__fields {
  min-width: 300px;
}

.contact-form__fields p {
  margin: 0;
  margin-bottom: 20px;
}

.contact-form__fields-group {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.contact-form__label {
  display: block;
  color: white;
  text-transform: uppercase;
}

.contact-form__input {
  background-color: blue;
  border-left: none;
  border-right: none;
  border-top: none;
  border-color: white;
  outline: none;
  color: white;
  min-height: 2em;
  min-width: 300px;
}

.contact-form__button {
  max-width: 100px;
  background-color: white;
  color: blue;
  border-radius: 5px;
  border: none;
  padding: 10px 27px;
  text-transform: uppercase;
}
